header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $primary-color;
    height: 15%;

    .header1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        opacity: 0.2;
    }

    .header2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        width: 15%;
        height: 35px;
        border-radius: 7px;
        border: 1px solid white;
    }
}